.App {
  text-align: center;
}

/* NavBar */
nav {
  text-align: left;
}

#nav-div{
  background: rgb(161,161,161);
  background: linear-gradient(180deg, rgba(161,161,161,1) 0%, rgba(255,255,255,0.4095763305322129) 100%);
  overflow: hidden;
}

li {
  list-style-type: none;
}

.log-in-form {
  width: fit-content;
  margin: auto;
  border-style: solid;
  padding: 1rem;
  border-radius: 1rem;
}

.new-contact-form {
  width: fit-content;
  margin: auto;
  border-style: solid;
  padding: 1rem;
  border-radius: 1rem;
  text-align: start;
}

.edit-contact-form {
    width: fit-content;
    margin: auto;
    border-style: solid;
    padding: 1rem;
    border-radius: 1rem;
    text-align: start;
}

.new-user-form {
  width: fit-content;
  margin: auto;
  border-style: solid;
  padding: 1rem;
  border-radius: 1rem;
  text-align: start;
}

.section-div {
  margin-bottom: 5px;
}

.section-div-address {
  margin-left: 6px;
}

input {
  float: right;
}

label {
  margin-right: 1rem;
}

h1{
  font-family: 'Times New Roman', Times, serif;
}

.form-div {
  margin-bottom: 5px;
}

.form-button {
  margin: 5px;
}

#left-align{
  text-align: left;
}

th {
  border-bottom: 1rem solid;
  border-width: thin;
  padding: 8px;
}

td{
  border-width: thin;
  padding: 8px;

}

.table-rows {
  text-align: start;
}

.contact-list-table {
  border-radius: 10px;
  overflow: hidden;
  
}

#contact{
  padding: 5px;
  font-size: x-large;
  font-family: monospace;
}

#table-head{
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  padding: 10px;
}

.grid-div-parent {
  display: flex;
}

.grid-div-child-left {
  width: 20%;
  float: left;
  padding: 20px;
  /* border: 2px solid; */
}
.grid-div-child-right {
  width: 70%;
  float: right;
  padding: 20px;
}

#contact-edit-button {
  margin-top: 1rem;
  font-size: large;
  border-color: white;
}

img {
  width: 10%;
}
